<br /><br /><br />
<div class="container justify-content-center">
  <div class="top-text">Clients / Company name</div>
  <br />
  <div style="display: flex">
    <span class="head-text"> Company name lorem ipsum</span>
    <div style="margin-left: auto; justify-content: right">
      <button class="edit-btn">Edit</button>
    </div>
  </div>
  <br /><br />
  <div class="client-detail">
    <div class="row">
      <div class="input-heading">Client Details</div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="input-label mt-3">Company Identifier</div>
        <input placeholder="Lorem ipsum" type="text" class="form-control" />
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="input-label mt-3">Company name</div>
        <input
          placeholder="Company name lorem ipsum"
          type="text"
          class="form-control"
        />
      </div>
    </div>
    <div class="row">
      <div class="input-heading mt-4">Address</div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="input-label mt-3">Address</div>
        <input
          placeholder="22 Church Street"
          type="text"
          class="form-control"
        />
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="input-label mt-3">Town</div>
        <input placeholder="Flora" type="text" class="form-control" />
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="input-label mt-3">Postcode</div>
        <input placeholder="FR092T" type="text" class="form-control" />
      </div>
    </div>
    <div class="row">
      <div class="input-heading mt-4">Contact</div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="input-label mt-3">Telephone</div>
        <input placeholder="0293493084" type="number" class="form-control" />
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="input-label mt-3">Email</div>
        <input
          placeholder="company@example.com"
          type="email"
          class="form-control"
        />
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="input-label mt-3">Website</div>
        <input placeholder="companyname.com" type="text" class="form-control" />
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="input-label mt-3">Contact Name</div>
        <input placeholder="Jenifer Moon" type="text" class="form-control" />
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="input-label mt-3">Contact Email</div>
        <input
          placeholder="jenifermoon@example.com"
          type="email"
          class="form-control"
        />
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="input-label mt-3">Contact Phone</div>
        <input placeholder="0385857944" type="number" class="form-control" />
      </div>
    </div>
    <div class="row">
      <div class="input-heading mt-4">Client Details</div>
      <div class="col-lg-4 col-md-6 col-sm-12 mt-4">
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio1"
            value="option1"
          />
          <label class="form-check-label" for="inlineRadio1">Active</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="inlineRadio2"
            value="option2"
          />
          <label class="form-check-label" for="inlineRadio2">Paused</label>
        </div>
      </div>
    </div>
  </div>
  <br /><br /><br />
</div>
